// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #0c644b;
  font-weight: bold;
}

h2 {
  color: #6A0A13;
}